<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring Boot Test</title>
</head>
<body>
    <h1>메인 페이지임다</h1>
    <h1 th:text="${message}">여기에 message가 출력 될겁니다.</h1>

    <input type="text" th:value="${message}">

    <script th:inline="javascript"> // script 안에서 thymeleaf 사용

        const message = /*[[${message}]]*/ "전달 받은 메세지2";
        
        alert(message);

    </script>

</body>
</html>